.DS_Store
vue-frontend/node_modules/
vue-frontend/dist/
vue-frontend/npm-debug.log*
vue-frontend/yarn-debug.log*
vue-frontend/yarn-error.log*
**/*.log

vue-frontend/tests/**/coverage/
vue-frontend/tests/e2e/reports
vue-frontend/selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
